* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}
.box {
  padding: 1rem;
  background-color: orange;
  border: solid 3px black;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.row.footer {
  justify-content: space-between;
  background-color: green;
  border: solid 3px black;
  padding: .5rem;
}

.footer-column {
  width: 25%;
}

.column {
  width: 50%;
}
.sub-content-column {
  width: 33.33%;
}
.justify-content-between {
  justify-content: space-between;
}
.content-column {
  width: 70%;
}
.content-column:nth-of-type(2) {
  width: 30%;
}
